body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.movies-page {
  padding: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "spotlight list";
  grid-gap: 20px;
  height: 1000px;
}

.movie-spotlight {
  grid-area: spotlight;
}

.movies-list {
  grid-area: list;
}

.movies-search-component {
  padding: 5px;
}

.movies-search-component .message {
  padding-top: 10px;
}

.movies-search-component .movie-summary-card {
  cursor: pointer;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(4, minmax(20px, auto));
  grid-gap: 5px;
  grid-template-areas:
    "image title"
    "image releaseDate"
    "image ."
    "image .";
}

.movies-search-component .movie-summary-card .title {
  grid-area: title;
}

.movies-search-component .movie-summary-card .release-date {
  grid-area: releaseDate;
}

.movies-search-component .movie-summary-card img {
  grid-area: image;
  width: 80px;
  height: auto;
}

.movie-spotlight-component .movie-spotlight-wrapper {
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: repeat(6, minmax(20px, auto));
  grid-template-areas:
    "image title"
    "image overviewLabel"
    "image overview"
    "image ."
    "image ."
    "topBilledCastLabel ."
    "topBilledCast .";
}

.movie-spotlight-component .movie-spotlight-wrapper img {
  grid-area: image;
  margin: 0 auto;
}

.movie-spotlight-component .movie-spotlight-wrapper .title {
  grid-area: title;
}

.movie-spotlight-component .movie-spotlight-wrapper .overview-label {
  grid-area: overviewLabel;
}

.movie-spotlight-component .movie-spotlight-wrapper .overview {
  grid-area: overview;
}

.movie-spotlight-component .movie-spotlight-wrapper .top-billed-cast-label {
  grid-area: topBilledCastLabel;
}

.movie-spotlight-component .movie-spotlight-wrapper .top-billed-cast {
  grid-area: topBilledCast;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.top-billed-cast .cast-member {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "image"
    "image"
    "name"
}

.top-billed-cast .cast-member img {
  grid-area: image;
  width: 90px;
  height: auto;
  border-radius: 50%;
}

.top-billed-cast .cast-member .name {
  grid-area: name;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}