<div class="movies-search-component">
  <input
    type="text"
    ng-model="$ctrl.searchText"
    placeholder="Search..."
    ng-change="::$ctrl.handleSearch()"
    ng-model-options="{debounce: 300}"
  >
  <div ng-if="!$ctrl.searchText.length" class="message">
    Search for your favorite movie!
  </div>
  <div ng-if="$ctrl.isFetching" class="message">
    Fetching movies...
  </div>
  <div ng-if="!$ctrl.isFetching && $ctrl.searchText.length && $ctrl.movies.length === 0" class="message">
    No movies match '{{$ctrl.searchText}}'
  </div>
  <div ng-if="!$ctrl.isFetching && $ctrl.movies.length > 0">
    <div
      class="movie-summary-card"
      ng-class="{selected: $ctrl.selectedMovie && movie.id === $ctrl.selectedMovie.id}"
      ng-repeat="movie in ::$ctrl.movies track by movie.id"
      ng-click="::$ctrl.onMovieSelect({movie: movie})">
      <div class="title">
        {{::movie.title}}
      </div>
      <div class="release-date">
        {{::movie.release_date | date:'yyyy-MM-dd' }}
      </div>
      <img ng-src="{{::movie.poster_path}}"/>
    </li>
  </div>
</div>
