<div class="movie-spotlight-component">
  <div class="message" ng-if="!$ctrl.isFetching && !$ctrl.movie">No movie selected...</div>
  <div class="message" ng-if="$ctrl.isFetching">Loading...</div>
  <div ng-if="!$ctrl.isFetching && $ctrl.movie" class="movie-spotlight-wrapper">
    <img ng-src="{{$ctrl.movie.poster_path}}"/>
    <div class="title">{{ ::$ctrl.movie.title }} ({{ $ctrl.movie.release_date | date:'yyyy' }})</div>
    <div class="overview-label">Overview</div>
    <div class="overview">{{ ::$ctrl.movie.overview }}</div>
    <!-- Endpoints don't appear to provide featured crew; should I have randomly sampled the data? -->
    <!-- <div class="featured-crew-label"></div> -->
    <div ng-if="$ctrl.top3CastMembers.length" class="top-billed-cast-label">Top Billed Cast</div>
    <div ng-if="$ctrl.top3CastMembers.length" class="top-billed-cast">
      <div ng-repeat="member in ::$ctrl.top3CastMembers" class="cast-member">
        <img ng-src="{{::member.profile_path}}"/>
        <div class="name">{{ ::member.name }}</div>
      </div>
    </div>
  </div>
</div>